$color: rgb(112, 27, 248);
$back: linear-gradient(to right, red, yellow, rgb(150, 23, 23));
$text: font-size 5rem;
$spalva: rgb(11, 11, 11);
$border: border-radius 2rem;
$fonas: linear-gradient(
  to right,
  rgb(160, 139, 139),
  rgb(0, 255, 98),
  rgb(150, 23, 122)
);
